/* ====>Common Style====> */

body {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    color: #757474;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    margin: 0;
    color: #464545;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5em;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 28px;
}

span {
    color: #d9212b;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    width: 100%;
}

section {
    padding: 80px 0;
}


/* ====> Common Css Classes <=== */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

.flex-items {
    width: 50%;
    align-self: center;
}

.btn {
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 15px 35px;
    background-color: orange;
    border-radius: 30px;
    background-image: linear-gradient(192deg, #cb8d1a, tomato);
    transition: 0.3s;
}

.btn:hover {
    background-image: linear-gradient(192deg, #cb8d1a, tomato);
    box-shadow: 2px 3px 20px 5px orange;
}

#menu-bar {
    padding: 10px 0;
    border-bottom: 1px solid #3d3d3d3d;
}

#about-area {
    background-image: url('images/shapes/7.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.about-img img {
    width: 85%;
}

.about-area-content {
    width: 44%;
    margin-top: 10%;
}

.about-img {
    width: 40%;
    margin-right: 10%;
}

.about-area-content p {
    margin-bottom: 90px;
}